# idea
.idea/
*.iml

# Compiled class file
*.class

# out
**/out/

# Maven
target/
logs/

# Gradle
build
.gradle

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# jrebel #
rebel.xml

# windows #
Thumbs.db

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar
*.pid
*.orig

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac
.DS_Store
